# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Android / Android Studio
local.properties
.idea
*.iml
captures
.cxx
*.hprof
emulator_*.log
release.keystore
/.claude
